// sourceMap: false

@black: #0D0D11;
@header-color: rgba(13, 13, 17, 0.7);
@gray: #9c9c9c;
@gray-dark: rgb(129, 129, 139, 0.4);
// @white: #fff;

@mobile-sm: ~"(max-width: 565px)";
@mobile: ~"(max-width: 767px)";
@tablet: ~"(max-width: 991px)";
@notebook: ~"(max-width: 1199px)";